.root {
    -st-states: isVertical;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    padding: 0;
}

.root:isVertical {
    flex-direction: column;
}

.root :global(.szh-menu__submenu > .szh-menu__item::after) {
    content: '';
}

.root :global(.szh-menu__submenu > .szh-menu__item) {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.375rem 1.5rem
}